/* BODY */
body {
    box-sizing: border-box;
    background-color: #808080;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
/* MAIN DIVS */
#filters {
    position: fixed;
    right: 0;
    top: 0;
    float: right;
    border-right: 2px solid #ffffff;
    background-color: #d3d3d3;
    width: 25%;
    height: 100%;
    overflow: auto;
}
#stuff {
    position: absolute;
    left: 15%;
    width: 60%;
    height: fit-content;
}
#tab-holder {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    min-height: 100%;
    background-color: #d3d3d3;
    overflow: auto;
}
/* tab buttons */
#tab-holder button.tab {
    float: left;
    width: 80%;
    height: 40px;
    margin-top: 5px;
    margin-left: 2px;
    padding: 10px;
    border: 2px solid #000000;
    background-color: #5f9ea0;
}
#tab-holder button.tab:hover {
    background-color: #008b8b;
}
#tab-holder button.del-tab {
    float: left;
    margin: 15px 5px;
    width: 20px;
    height: 20px;
    background-color: inherit;
    border: none;
}
#tab-holder button.del-tab:hover {
    background-color: #808080;
}
/* HEADINGS */
h2 {
    text-align: center;
}
#filters h2 {
    padding-bottom: 20px;
    border-bottom: 2px solid #ffffff;
}
/* INDIVIDUAL FILTER DIVS */
div.filter {
    margin-left: 10px;
}
/* inside filter divs */
div.filter input {
    margin: 10px 2px;
    border-radius: 4px;
    border-color: #000000;
    max-width: 40%;
}
div.filter h3 {
    margin: 0;
    padding: 10px;
}
div.filter #selectAll {
    margin-left: 30px;
}
/* SERVICE CONTAINER */
div.services {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5f9ea0;
}
/* NO DATA */
div.services p.empty {
    color: #c22e2e;
    margin-left: 20px;
}
/* INDIVIDUAL SERVICES */
div.service {
    width: 80%;
    height: 250px;
    margin: 10px auto;
    background-color: #87cefa;
    border: 3px solid #00008b;
    border-radius: 10px;
}
div.service h3 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 6px double #00008b;
}
div.service p {
    margin: 10px;
}