/* BODY */
body {
    box-sizing: border-box;
    background-color: grey;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
/* MAIN DIVS */
div.filters {
    position: fixed;
    right: 0;
    top: 0;
    border-right: 2px solid white;
    background-color: lightgrey;
    width: 25%;
    height: 100%;
    overflow: auto;
}
div.stuff {
    position: absolute;
    left: 15%;
    width: 60%;
    height: fit-content;
}
div.tab-holder {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    min-height: 100%;
    background-color: lightgrey;
    overflow: auto;
}
/* HEADINGS */
div.stuff h2 {
    text-align: center;
}
div.filters h2 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}
/* INDIVIDUAL FILTER DIVS */
div.filter {
    margin-left: 10px;
}
/* inside filter divs */
div.filter input {
    margin: 10px 2px;
    border-radius: 4px;
    border-color: black;
    max-width: 40%;
}
div.filter h3 {
    margin: 0;
    padding: 10px;
}
div.filter #selectAll {
    margin-left: 30px;
}
/* PRODUCT CONTAINER */
div.products {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: cadetblue;
}
/* NO DATA */
div.products p.empty {
    color: rgb(194, 46, 46);
    margin-left: 20px;
}
/* INDIVIDUAL PRODUCTS */
div.products div {
    width: 80%;
    height: 250px;
    margin: 10px auto;
    background-color: lightskyblue;
    border: 3px solid darkblue;
    border-radius: 10px;
}
div.products h3 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 6px double darkblue;
}
div.products p {
    margin: 10px;
}