#filter-holder {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 2px solid #ffffff;
    background-color: #d3d3d3;
    width: 30%;
    height: 100%;
    overflow: auto;
}
#filter-holder h2 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ffffff;
}

/* filter divs */
div.filter {
    margin-left: 10px;
}
div.filter input {
    margin: 10px 2px;
    padding: 5px;
    border-radius: 5px;
    border-color: #000000;
    max-width: 35%;
}
div.filter h3 {
    margin: 0;
    padding: 10px;
}
div.filter #main-all {
    margin-left: 30px;
}
