/* services holder */
#service-holder {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: #5f9ea0;
    overflow: auto;
}

/* services in main tab */
div.service {
    position: relative;
    width: 80%;
    height: 320px;
    margin: 10px auto;
    background-color: #ffffff;
    border: 5px solid #a9bcce;
    border-radius: 10px;
    transition: box-shadow 1s;
}
div.service:hover {
    box-shadow: 0 0 5px 7px rgba(50, 50, 200, 0.5);
}

div.service h3 {
    margin: 5px;
}
div.service p {
    display: inline;
    margin: 0;
}
div.service p.name {
    display: inline-block;
    font-weight: bold;
    width: 5em;
}
div.service div {
    float: left;
    padding: 5px;
    border: 1px solid #a9bcce;
    overflow-y: auto;
}
div.service div.corner {width: 50%; height: 30%;}
div.service div.bottom {width: 100%; max-height: 16%;}
div.service div.middle {width: 100%; min-height: 30%; max-height: 40%;}
div.service div.top {width: 100%; height: 14%;}

/* services in other tabs */
div.service-tab {
    background-color: salmon;
    padding-left: 10px;
}

div.service-tab h2 {
    text-align: center;
}
